:root{
    --searchShaodw: -13px 13px 26px rgba(181, 181, 181, 0.2), 13px -13px 26px rgba(181, 181, 181, 0.2), -13px -13px 26px rgba(255, 255, 255, 0.9), 13px 13px 33px rgba(181, 181, 181, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(181, 181, 181, 0.5);
    --greyText: #424242;
}

*{
    color: var(--greyText);
}
nav{
    /* position: fixed; */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.3rem;
    z-index: 2;
    top:0;
}

main{
    /* margin-top: 3rem; */
    padding: 1rem 4rem;
    /* padding-top: 0; */
}
main h2{
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    background: #ff7435;
    color: rgb(29, 29, 29);
}
main h2:first-child{
    margin-top: 1rem;
}
main article{
    text-align: justify;
    line-height: 1.8;
}
.send{
    background: #5054F7;
    color: white;
}
.members{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    place-items: center;
    padding: 0 1rem;
}
.member-card{
    display: grid;
    box-shadow: var(--searchShaodw);
    border-radius: 0 0 3px 3px;
    align-content: space-between;
    justify-items: center;
    margin: 10px 15px;
    height: 250px;
}
.member-card img{
    width: 180px;
    height: 165px;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}
.member-post{
    margin-bottom: 0.5rem;
}
footer{
    justify-content: space-around;
}
@media screen and (max-width: 540px){
main{
    padding: 1rem;
}
.members{
    padding: 0;
}
.member-card{
    height: 190px;
}
.member-card img{
    height: 120px;
    width: 150px;
}
}